<ion-view id="home" class="about" cache-view="false" hide-back-button="true" animation="ios"
  view-title="Acerca de">
  <ion-nav-bar class="bar-dark">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="has-header padding">
    <!-- Logo -->
    <img src="img/logo-yego.png" alt="" class="logo">
    <h2>Quienes Somos</h2>
    <p>Yego app es una aplicación que comprende las necesidades de los conductores y del mercado automotriz generando la unión entre los dos mundos.</p>


    <h2>Misión</h2>
    <p>Revolucionar las prácticas de contacto y comercio por medio de la tecnología, solucionando las necesidades cotidianas que surgen a las personas que tienen o necesitan un transporte automotriz.</p>


    <h2>Visión</h2>
    <p>Ser la plataforma tecnológica digital más usada por los comercios clientes en el ramo del transporte; en sus aplicaciones para celular y software para automóviles.</p>


    <h2>Valores</h2>
    <p>Creemos firmemente en la honestidad al desarrollo de los proyectos, nos enlazamos con el compromiso fiel y generamos una buena amistad con todos nuestros, socios, proveedores y colaboradores; sabiendo que la humildad es la base de todo éxito en la vida.</p>


    <h2>Contacto</h2>
    <p><a href="mailto:contacto@yego.com.mx">contacto@yego.com.mx</a></p>

  </ion-content>
</ion-view>
