<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <!-- Side Menu (left) -->
  <ion-side-menu side="left" id="the-side-menu" cache-view="false">
    <ion-content>
      <div id="profile-card" class="profile-card"
        style="background-image:url({{perfil.driver_of_vehicles[0].imageurl}})">
        <ion-item class="only-link" menu-close href="#/app/perfil" ng-show="perfil.imageurl == null">
          <img id="profile-pic" src="img/camera.jpg" alt="" class="profile-element">
        </ion-item>
        <img id="profile-pic" src="{{perfil.imageurl}}" alt=""
          class="profile-element" ng-show="perfil.imageurl != null">
        <h1 class="profile-element">{{perfil.name+' '+perfil.lastnames}}</h1>
        <h2 class="profile-element">Yego Team: <strong>{{perfil.family_name}}</strong></h2>
      </div>
      <ion-list>
        <ion-item menu-close href="#/app/directorio">
          <img src="img/inicio.png" alt="" />
          Inicio
        </ion-item>
        <ion-item menu-close href="#/app/perfil">
          <img src="img/perfil.png" alt="" />
          Perfil
        </ion-item>
        <ion-item menu-close href="#/app/cargas">
          <img src="img/carga-dark.png" alt="" />
          Cargas de Gasolina
        </ion-item>
        <ion-item menu-close href="#/app/autos">
          <img src="img/auto.png" alt="" />
          Mis Autos
        </ion-item>
        <ion-item menu-close href="#/app/misSeguros">
          <img src="img/seguro.png" alt="" />
          Mis Seguros
        </ion-item>
        <ion-item menu-close href="#/app/team">
          <img src="img/team.png" alt="" />
          Mi Yego Team
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item menu-close href="#/app/negocios">
          <img src="img/negocio.png" alt="" />
          Agregar Negocio
        </ion-item>
        <ion-item menu-close href="#/app/about">
          <img src="img/info.png" alt="" />
          Acerca de Yego
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
