<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <!-- Side Menu (left) -->
  <ion-side-menu side="left" id="the-side-menu">
    <ion-content>
      <div id="profile-card" class="profile-card" style="background-image:url({{profile.carpic}})" ng-if="!completado">
        <img id="profile-pic" src="img/camera.jpg" alt="" class="profile-element" ng-show="!theres_picture">
        <img id="profile-pic" src="{{perfil.pic}}" alt="" class="profile-element" ng-show="theres_picture">
        <h1 class="profile-element" ng-show="!theres_name">{{nombre}}</h1>
        <h1 class="profile-element" ng-show="theres_name">{{nombre}}</h1>
        <h2 class="profile-element"><strong>{{perfil.username}}</strong></h2>
      </div>
      <ion-list>
        <ion-item menu-close href="#/app/home">
          <img src="img/inicio.png" alt="" />
          Inicio
        </ion-item>
        <ion-item menu-close href="#/app/perfil">
          <img src="img/perfil.png" alt="" />
          Perfil
        </ion-item>
        <ion-item menu-close href="#/app/autos">
          <img src="img/auto.png" alt="" />
          Mis Autos
        </ion-item>
        <ion-item menu-close href="#/app/team">
          <img src="img/team.png" alt="" />
          Mi Yego Team
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item menu-close href="#/app/negocio">
          <img src="img/negocio.png" alt="" />
          Agregar Negocio
        </ion-item>
        <ion-item menu-close href="#/app/info">
          <img src="img/info.png" alt="" />
          Acerca de Yego
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
