<ion-view id="team" cache-view="false" class="perfil team" view-title="Yego Team">
  <ion-nav-bar class="bar-dark">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button id="header-btn" class="button button-icon icon ion-person-add"
      ng-click="abrirModal()" ng-if="isTeamAdmin(userId)"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="has-header">
    <!-- NO HAY UN EQUIPO -->
    <div class="invitations list" ng-show="!theresTeam">
      <div class="item item-divider">
        Invitaciones pendientes <span class="inv-counter">{{requests.length}}</span>
      </div>
      <div class="item item-text-wrap" ng-repeat="request in requests">
        <p><strong>{{request.family_admin.admin_name}}</strong> te ha invitado a ser parte su Yego® Team: <strong>{{request.family_admin.name}}</strong></p>
        <button class="button button-positive button-clear" ng-click="acceptRequest(request.family_id,request.id)">Aceptar</button>
      </div>

    </div>
    <div class="new-team" ng-show="!theresTeam">
      <h2>¿No tienes Yego® Team?</h2>
      <h3>Crea uno:</h3>
      <p for="" class="info-label">
        <span class="gray-info">Escribe el nombre de tu Yego® Team y da clic en Crear</span>
      </p>
      <form action="" class="list">
        <!-- name -->
        <label class="item item-input" id="codigo-label">
         <span class="input-label">Nombre:* </span>
         <input type="text" ng-model="teamData.name">
        </label>
        <!-- administrator_id -->
        <input type="text" style="display:none" ng-model="teamData.administrator_id" ng-init="teamData.administrator_id = userId">
        <button
        class="button button-positive button-clear icon-right ion-ios-plus m-icon"
        ng-click="newTeam()">
          crear team
        </button>
      </form>
    </div>

    <!-- YA HAY UN EQUIPO -->
    <div id="team-cont" ng-show="theresTeam">
      <div class="list">
        <div class="item item-divider padding item-icon-right" >
          <h1 class="title nmb">{{team.name}}</h1>
          <i class="icon ion-ios-gear m-icon" ng-click="abrirModalOpciones()"></i>
        </div>
      </div>
      <h2 class="divider">Administrador</h2>
        <div class="car-card-cont">
          <div class="car-card">
            <div class="car-item item-image">
              <img class="car-picture" src="img/photo.jpg"
              ng-show="team.administrator.driver_of_vehicles[0].imageurl === undefined">
              <img class="car-picture" src="{{team.administrator.driver_of_vehicles[0].imageurl}}"
              ng-show="team.administrator.driver_of_vehicles[0].imageurl !== undefined">
              <img class="user-picture" src="img/camera.jpg"
              ng-show="team.administrator.imageurl === undefined">
              <img class="user-picture" src="{{team.administrator.imageurl}}"
              ng-show="team.administrator.imageurl !== undefined">
            </div>
            <div class="car-item padding">
              <h4>{{team.administrator.name+' '+team.administrator.lastnames}}</h4>
              <p>{{team.administrator.driver_of_vehicles[0].description}}</br>
              {{team.administrator.driver_of_vehicles[0].brand}}</br>
              {{team.administrator.driver_of_vehicles[0].model}}</p>
            </div>
          </div>
        </div>

      <h2 class="divider">Integrantes</h2>
      <div class="car-card-cont" ng-repeat="member in team.app_users">
        <div class="car-card">
          <div class="car-item item-image">
            <img class="car-picture" src="img/photo.jpg"
            ng-show="member.driver_of_vehicles[0].imageurl === undefined">
            <img class="car-picture" src="{{member.driver_of_vehicles[0].imageurl}}"
            ng-show="member.driver_of_vehicles[0].imageurl !== undefined">
            <img class="user-picture" src="img/camera.jpg"
            ng-show="member.imageurl === undefined">
            <img class="user-picture" src="{{member.imageurl}}"
            ng-show="member.imageurl !== undefined">
          </div>
          <div class="car-item padding">
            <h4>{{member.name+' '+member.lastnames}}</h4>
            <p>{{member.driver_of_vehicles[0].description}}</br>
            {{member.driver_of_vehicles[0].brand}}</br>
            {{member.driver_of_vehicles[0].model}}</p>
          </div>
        </div>
      </div>
  </ion-content>
</ion-view>
