<ion-view id="cargas" cache-view="false" class="cargas" view-title="Cargas de Gasolina">
  <ion-nav-bar class="bar-dark">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button id="header-btn" class="button button-icon icon ion-ios-plus"
      ng-click="openModal()" ng-if="theresCar"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="has-header">
    <!-- SI HAY CARRO -->
    <div class="info-block padding" ng-if="theresCar">
      <img class="info-block-item" src="img/icons/modelo.png" alt="" />
      <div class="info-block-item info-block-data">
        <h2>{{mainCar}}</h2>
      </div>
    </div>
    <div ng-if="objectIsEmpty() && theresCar" class="padding">
      <h4>Aun no has registrado cargas de gasolina</h4>
    </div>
    <div class="list" ng-if="!objectIsEmpty()" ng-if="theresCar">
      <div class="item carga-block" ng-repeat="(key,month) in theMonths" ng-click="goResumen(key,month,$index)">
        <img class="carga-img" src="img/carga-light.png" alt="">
        <div class="month-data">
          <h3>{{key}}</h3>
          <p>Litros Consumidos: <span class="blue-span">{{cargaTotal[$index] | number: 2}} Lts.</span><br>
            Gasto Total: <span class="blue-span">${{costoTotal[$index] | number: 2}} MXN</span>
          </p>
        </div>
      </div>
    </div>
    <!-- NO HAY CARRO -->
    <div class="padding" ng-if="!theresCar">
      <h4>Aun no hay autos registrados</h4>
      <button class="button button-positive button-clear" ng-click="goAutos()">Ir a mis autos</button>
    </div>
  </ion-content>
</ion-view>
