<ion-view id="login" class="highway">
  <ion-nav-bar class="bar-clear">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-buttons side="left">
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <!-- Logo -->
    <img id="login-logo" src="img/logo-yego.png" alt="" class="logo" ng-class="{'register-active':registerForm,'login-active':loginForm}">
    <!-- LOGIN -->

    <form class="list">

      <!-- marca -->
      <label class="item item-input item-select">
        <div class="input-label">Marca</div>
        <select ng-model="myCar.brand" id="marca" ng-change="goForModels(myCar.brand)">
          <option value="" disabled selected hidden>-- Selecciona --</option>
          <option ng-repeat="marca in marcas" value="{{marca[0]}}">{{marca[0]}}</option>
        </select>
      </label>

      <!-- año -->
      <label class="item item-input item-select">
        <div class="input-label">Año</div>
        <select ng-model="myCar.model" id="ano" ng-change="goForDescriptions(myCar.brand,myCar.model)">
          <option value="" disabled selected hidden>-- Selecciona --</option>
          <option ng-repeat="modelo in modelos" value="{{modelo[0]}}">{{modelo[0]}}</option>
        </select>
      </label>

      <!-- Modelo -->
      <label class="item item-input item-select" id="modelo-label">
        <div class="input-label">Modelo</div>
        <select ng-model="myCar.description" id="modelo">
          <option value="" disabled selected hidden>-- Selecciona --</option>
          <option ng-repeat="de in descripciones" value="{{de[0]}}">{{de[0]}}</option>
        </select>
      </label>

      <!-- Main -->
      <input type="number" ng-model="myCar.main" ng-init="myCar.main = 1" style ="display:none">
      <!-- owner_id -->
      <input type="number" ng-model="myCar.owner_id" ng-init="myCar.owner_id = userId" style ="display:none">

      <div class="edit-photo-holder">
        <img ng-show="imgRegAuto === undefined" src="img/photo.jpg" alt="">
        <img ng-show="imgRegAuto !== undefined" ng-src="{{imgRegAuto}}">
        <div class="button-holder">
          <button ng-show="imgRegAuto === undefined"
          class="button button-positive button-icon ion-camera m-icon"
          ng-click="takePicture($event)">
          </button>
          <button ng-show="imgRegAuto === undefined"
          class="button button-positive button-icon ion-images m-icon"
          ng-click="selectPicture()">
          </button>
          <button ng-show="imgRegAuto !== undefined"
          class="button button-positive button-icon ion-camera m-icon"
          ng-click="takePicture()">
          </button>
          <button ng-show="imgRegAuto !== undefined"
          class="button button-positive button-icon ion-images m-icon"
          ng-click="selectPicture()">
          </button>
        </div>
      </div>

      <!-- <button type="submit" class="button icon-right ion-ios-plus button-positive">Añadir</button> -->
    </form>
    <a ng-click="saveCar()" class="button button-positive">Continuar</a>
  </ion-content>
</ion-view>
