<ion-view id="login" class="highway">
  <ion-nav-bar class="bar-clear">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-buttons side="left">
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <!-- Logo -->
    <img src="img/logo-yego.png" alt="" class="logo">
    <!-- LOGIN -->
    <form class="list" ng-submit="loginClick('login','app.directorio')" method="post" ng-if="loginForm == true">
      <label class="item item-input item-icon-left">
        <i class="icon ion-ios-person"></i>
        <span class="input-label">
          <input type="text" ng-model="loginData.user" placeholder="Nombre de Usuario">
        </span>
      </label>
      <label class="item item-input item-icon-left">
        <i class="icon ion-ios-locked"></i>
        <span class="input-label">
          <input type="password" ng-model="loginData.pass" placeholder="Contraseña">
        </span>

      </label>
      <div class="row enter-register">
        <div class="col col-66">
          <a class="register-link" ng-click="showForm('register','open')">Registrarse</a>
        </div>
        <div class="col col-33">
          <button type="submit" class="button button-positive" ng-click="">Entrar</button>
        </div>
      </div>

    </form>

    <!-- REGISTER -->
    <form class="list" method="post" ng-submit="loginClick('register','location')" ng-if="registerForm == true">
      <button class="button button-icon icon ion-close the-close" ng-click="showForm('','close')"></button>
      <div class="row enter-register">
        <div class="col">
          <h2>Registro</h2>
        </div>
      </div>
      <label class="item item-input item-icon-left">
        <i class="icon ion-ios-person"></i>
        <span class="input-label">
          <input type="text" ng-model="registerData.user" placeholder="Nombre de Usuario">
        </span>
      </label>
      <label class="item item-input">
        <span class="input-label item-icon-left">
          <i class="icon ion-ios-email"></i>
          <input type="email" ng-model="registerData.email" placeholder="Email">
        </span>
      </label>
      <label class="item item-input">
        <span class="input-label item-icon-left">
          <i class="icon ion-ios-locked"></i>
          <input type="password" ng-model="registerData.pass" placeholder="Contraseña">
        </span>
      </label>
      <label class="item item-input">
        <span class="input-label item-icon-left">
          <input type="password" placeholder="Confirma la contraseña">
        </span>
      </label>
      <div class="row enter-register">
        <div class="col col-50">
        </div>
        <div class="col col-50">
          <button type="submit" class="button button-positive" ng-click="">Registrarse</button>
        </div>
      </div>
    </form>

    <!-- Entrar como invitado -->
      <a class="invitado-link" ng-click="loginClick('guest','location')">Entrar como invitado</a>

  </ion-content>
</ion-view>
