<ion-view id="login" class="highway">
  <ion-nav-bar class="bar-clear">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-buttons side="left">
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <!-- Logo -->
    <img id="login-logo" src="img/logo-yego.png" alt="" class="logo" ng-class="{'register-active':registerForm,'login-active':loginForm}">
    <!-- LOGIN -->
    <form class="list login-form" method="post" ng-show="loginForm">
      <div class="row enter-register">
        <div class="col">
          <h2>Inicia sesión</h2>
        </div>
      </div>

      <label class="item item-input item-icon-left">
        <i class="icon ion-ios-person"></i>
        <span class="input-label">
          <input type="text" ng-model="loginData.email" placeholder="Nombre de Usuario">
        </span>
      </label>

      <label class="item item-input item-icon-left">
        <i class="icon ion-ios-locked"></i>
        <span class="input-label">
          <input type="password" ng-model="loginData.password" placeholder="Contraseña">
        </span>

      </label>
      <div class="row enter-register">
        <div class="col col-66">
          <a class="register-link" ng-click="showForm('register','open')">Registrarse</a>
        </div>
        <div class="col col-33">
          <button type="submit" class="button button-positive" ng-click="loginClick()">Entrar</button>
        </div>
      </div>
      <div class="row enter-register recup-pass">
        <div class="col">
          <a class="register-link">Recuperar mi contraseña</a>
        </div>
      </div>

    </form>

    <!-- REGISTER -->
    <form class="list register-form" method="post" ng-show="registerForm">
      <button class="button button-icon icon ion-close the-close" ng-click="showForm('','close')"></button>
      <div class="row enter-register">
        <div class="col">
          <h2>Registro</h2>
        </div>
      </div>
      <label class="item item-input item-icon-left">
        <i class="icon ion-ios-person"></i>
        <span class="input-label">
          <input type="text" ng-model="registerData.username" placeholder="Nombre de Usuario">
        </span>
      </label>
      <label class="item item-input">
        <span class="input-label item-icon-left">
          <i class="icon ion-ios-email"></i>
          <input type="email" ng-model="registerData.email" placeholder="Email">
        </span>
      </label>
      <label class="item item-input">
        <span class="input-label item-icon-left">
          <i class="icon ion-ios-locked"></i>
          <input type="password" ng-model="registerData.password" placeholder="Contraseña">
        </span>
      </label>
      <label class="item item-input">
        <span class="input-label item-icon-left">
          <input type="password" ng-model="registerData.password_confirmation" placeholder="Confirmar contraseña">
        </span>
      </label>
      <div class="row enter-register">
        <div class="col col-50">
          <a class="register-link" ng-click="showForm('','close')">Ya tengo cuenta</a>
        </div>
        <div class="col col-50">
          <button type="submit" class="button button-positive" ng-click="regBtnClick()">Registrarse</button>
        </div>
      </div>
    </form>

    <!-- Entrar como invitado -->
      <a class="invitado-link" ng-click="guestClick()">Entrar como invitado</a>

  </ion-content>
</ion-view>
