<ion-view id="login" class="highway">
  <ion-nav-bar class="bar-clear">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-buttons side="left">
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="padding">
    <!-- Logo -->
    <img id="login-logo" src="img/logo-yego.png" alt="" class="logo" ng-class="{'register-active':registerForm,'login-active':loginForm}">
    <!-- LOGIN -->

    <div ng-show="registered == true">
      <h1>¡Bienvenido a Yego!</h1>
      <h2>Ya estás registrado</h2>
      <h3>Disfruta la experiencia completa</h3>
    </div>
    <div ng-if="registered == false">
      <h1>¡Bienvenido a Yego!</h1>
      <h2>No estás registrado</h2>
      <h3>Para disfrutar la experiencia completa Registrate</h3>
    </div>
    <a href="#/app/directorio" class="button button-positive">Continuar</a>
  </ion-content>
</ion-view>
