<ion-modal-view id="new-car-modal" view-title="Nuevo auto">
  <div class="bar bar-header bar-light">
    <h1 class="title">Nuevo Auto</h1>
      <button class="button button-icon button-clear icon-right ion-ios-close" ng-click="saveCar('cerrar')">
      </button>
  </div>

  <ion-content>
    <form ng-submit="saveCar('save')" class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          Marca
        </div>
        <select ng-model="carData.marca">
          <option value="Alfa Romeo">Alfa Romeo</option>
          <option value="Subaru" selected>Subaru</option>
          <option value="Ferrari">Ferrari</option>
          <option value="Lamborghini">Lamborghini</option>
        </select>
      </label>
      <label class="item item-input">
        <span class="input-label">Modelo</span>
        <input type="text" ng-model="carData.modelo">
      </label>
      <label class="item item-input item-select">
        <div class="input-label">Año</div>
        <select ng-model="carData.ano">
          <option>2017</option>
          <option selected value="2016">2016</option>
          <option value="2015">2015</option>
          <option value="2014">2014</option>
          <option value="2013">2013</option>
          <option value="2012">2012</option>
          <option value="2011">2011</option>
          <option value="2010">2010</option>
          <option value="2009">2009</option>
          <option value="2008">2008</option>
        </select>
      </label>
      <button type="submit" class="button icon-right ion-ios-plus button-positive">Añadir</button>
    </form>
  </ion-content>
</ion-modal-view>
