<ion-view id="categories" animation="ios" view-title="{{catName}}">
  <ion-nav-bar class="bar-dark">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div class="list">
      <a class="item item-icon-left" href="#/app/directorio/{{subcat.name}}/{{subcat.id}}" ng-repeat="subcat in subcats">
        <img src="img/icons/subcats/{{subcat.id}}.png" alt="" class="icon subcat-img">
        <!-- <i class="icon ion-email"></i> -->
        {{subcat.name}}
      </a>
    </div>
  </ion-content>
</ion-view>
