<ion-view id="cerca" class="cerca" view-title="Cerca de mi">
  <ion-nav-bar class="bar-dark">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <div class="list">
      <label id="category" class="item item-input item-select">
        <div class="input-label">Categoría:</div>
        <div class="input-label input-label-2">{{chosenCat}}</div>
        <!-- <select ng-model="chosenCat"
        ng-change="getSubcats(chosenCat)"
        ng-options="category as category.name for category in categories">
        </select> -->
        <select ng-model="chosenCat" id="tipoAuto"
        ng-change="getSubcats(chosenCat)">
          <option value="" disabled selected hidden>-- Selecciona --</option>
          <option ng-repeat="category in categories"
          ng-value="category.name">{{category.name}}</option>
        </select>
      </label>
      <!-- SUBCATEGORIES EXIST -->
      <label id="subcategory" class="item item-input item-select"
          ng-show="showsubcats">
        <div class="input-label">Subcategoría:</div>
        <select ng-model="chosenSubcat" ng-change="getMarkers(chosenSubcat)"
        ng-options="subcategory as subcategory.name for subcategory in subcategories">
          <option value="" disabled selected hidden>-- Selecciona --</option>
          <option ng-repeat="subcategory in subcategories"
          ng-value="subcategory.name">{{subcategory.name}}</option>
        </select>

      </label>
    </div>
    <div id="map" class="cerca-map" data-tap-disabled="true"></div>
  </ion-content>
</ion-view>
