<ion-view id="dirSingle" animation="ios" view-title="Detalle">
  <ion-nav-bar class="bar-dark">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <img ng-if="single.imageurl == null" src="img/default-gas.jpg" alt="" class="main-img">
    <img ng-if="single.imageurl != null" src="{{single.imageurl}}" alt="" class="main-img">
    <div class="row">
      <div class="col">
        <h1>{{single.name}}</h1>
        <div class="inner-row">
            <div class="rate-bar" ng-click="toggleRating()">
              <i ng-repeat="star in editableRating" class="icon {{star.icon}}"></i>
              <p>{{single.review_score}} ({{single.review_counter}})</p>
            </div>
            <button ng-if="single.lat != null" ng-click="openMap()"
            class="button button-positive button-clear button-icon icon-right ion-ios-location">
              mapa
            </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col single-data">
        <h3>Datos</h3>
        <p ng-if="single.neighborhood != null && single.number_i != null">
          <i class="icon ion-location"></i>
          {{single.street+' '+single.number_e+' Int. '+single.number_i+' '+single.neighborhood | capitalize:true}}
        </p>
        <p ng-if="single.neighborhood != null && single.number_i == null">
          <i class="icon ion-location"></i>
          {{single.street+' '+single.number_e+' '+single.neighborhood | capitalize:true}}
        </p>
        <p ng-if="single.neighborhood == null && (single.number_i == null || single.number_i == '')">
          <i class="icon ion-location"></i>
          {{single.street+' '+single.number_e | capitalize:true}}
        </p>

        <p ng-if="single.work_shift != null"><i class="icon ion-android-time"></i>{{single.work_shift}}</p>

        <p ng-if="single.phone != null"><i class="icon ion-ios-telephone"></i>{{single.phone}}</p>

        <p
        ng-if="single.business.email !== undefined || single.business.email === ''">
          <i class="icon ion-ios-email"></i>
          <a href="mailto:{{single.business.email}}">{{single.business.email}}</a>
        </p>

        <p
        ng-if="single.business.website !== undefined || single.business.website === ''">
          <i class="icon ion-monitor"></i>
          <a ng-click="openInAppBrowser(single.business.website)">{{single.business.website}}</a>
        </p>
        <p ng-if="single.business.facebook !== undefined || single.business.facebook === ''">
          <i class="icon ion-social-facebook"></i>
          <a ng-click="openInAppBrowser('http://facebook.com/'+single.business.facebook)">{{single.business.facebook}}</a>
        </p>
        <p ng-if="single.business.twitter !== undefined || single.business.twitter === ''">
          <i class="icon ion-social-twitter"></i>
          <a ng-click="openInAppBrowser('http://twitter.com/'+single.business.twitter)">{{single.business.twitter}}</a>
        </p>
      </div>
    </div>
    <div class="row" ng-if="single.services.length > 0">
      <div class="col">
        <h3>Servicios</h3>
        <ul class="single-services">
          <li ng-repeat="service in single.services">
            <img src="img/icons/servicios/{{ service | removeNWC }}.png" alt="">
            {{service}}
          </li>
        </ul>
      </div>
    </div>

    <!-- This div contains: a list with 5 elements (stars) and in front of it
      an invisible slider (opacity:0) to surve as the input listener for the rating-->
      <div class="stars-rating-cont" ng-show="setRating">
        <div class="item stars-rating">
          <button ng-click="toggleRating()"
          class="button button-positive button-clear icon-button ion-close"></button>
          <ul>
            <li ng-repeat="star in editableRating">
                <i class="icon {{star.icon}}"></i>
            </li>
          </ul>
          <div class="item range">
            <input type="range" ng-model="rating"  ng-change="updateStars(rating)" min="0" max="10">
          </div>
          <button class="button button-positive button-block"
            ng-click="enviarCalif(rating)">Calificar</button>
        </div>
      </div>
  </ion-content>
</ion-view>
