<ion-modal-view id="mapa-modal"
  class="perfil modal modal-mapa" view-title="Nuevo negocio">
  <div class="bar bar-header bar-dark">
    <h1 class="title">Mapa</h1>
      <button class="button button-icon button-clear icon-right ion-ios-close"
      id="header-btn" ng-click="closeModal()">
      </button>
  </div>
  <ion-content class="has-header">
    <div class="item-divider">
      <h1 class="title">{{single.business.name}}</h1>
    </div>
    <div id="map" class="rescat" data-tap-disabled="true"></div>
    <!-- <ng-map class="rescate-map" center='[{{marker.lat}}, {{marker.lng}}]'
      zoom="16" map-type-control="false" street-view-control="false"
      geo-callback="callbackFunc('you')">

      <marker position="[{{marker.lat}},{{marker.lng}}]"
      title="{{marker.title}}">
      </marker>
      <marker position="current-location" title="Hello World!"
        icon="{
          url:'img/pos.png',
          scaledSize:[14,14],
          origin: [0,0],
          anchor: [7,7]
          }" >
      </marker>
      <directions
        travel-mode="DRIVING"
        origin="current-location"
        destination="[{{marker.lat}},{{marker.lng}}]"
        ng-if="comoLlegar">
      </directions>
    </ng-map> -->
  </ion-content>
</ion-modal-view>
