<ion-modal-view id="new-car-modal" class="perfil modal modal-new-car" view-title="Editar Auto">
  <div class="bar bar-header bar-dark">
    <h1 class="title">Editar Auto</h1>
      <button class="button button-icon button-clear icon-right ion-ios-close" id="header-btn" ng-click="cerrarModal()">
      </button>
  </div>

  <ion-content class="has-header">
    <div class="edit-photo-holder">
      <img ng-if="imgURI2 === undefined && theCar.imageurl === null" src="img/photo.jpg" alt="">
      <img ng-if="imgURI2 === undefined && theCar.imageurl !== null" src="{{theCar.imageurl}}" alt="">
      <img ng-if="imgURI2 !== undefined" ng-src="{{imgURI2}}">
      <div class="button-holder">
        <button class="button button-positive button-icon ion-camera m-icon"
        ng-click="takePicture()">
        </button>
        <button class="button button-positive button-icon ion-images m-icon"
        ng-click="selectPicture()">
        </button>
      </div>
    </div>
    <form class="list">
      <!-- colour -->
      <label class="item item-input" id="codigo-label">
       <span class="input-label">Color</span>
       <input type="text" ng-model="myCar.colour" ng-init="myCar.colour = theCar.colour" placeholder="{{theCar.colour}}">
      </label>
      <!-- serial_number -->
      <label class="item item-input" id="codigo-label">
       <span class="input-label">No. Serie</span>
       <input type="text" ng-model="myCar.serial_number" ng-init="myCar.serial_number = theCar.serial_number" placeholder="{{theCar.serial_number}}">
      </label>

      <!-- main -->
      <ion-checkbox ng-model="principal" ng-change="changePrincipal(principal)" ng-checked="theCar.main">
        Este es mi auto Principal
      </ion-checkbox>

      <!-- driver_id changeDriver == false -->
      <label class="item item-input" ng-if="!changeDriver && !theCar.main">
        <div class="input-label">Conductor</div>
        <span class="input-label">
			    	<button class="button button-icon icon ion-edit s-icon" ng-click="theChange()"></button>
				    {{theCar.driver.name}}
			    </span>
      </label>
      <!-- driver_id changeDriver == true -->
      <label class="item item-divider" ng-if="changeDriver">
        <h2>Elige al conductor</h2>
        <button class="button button-icon icon ion-close s-icon" ng-click="theChange()"></button>
      </label>
      <label class="item item-input item-select"  ng-if="changeDriver">
        <div class="input-label">Conductor</div>
        <select ng-model="myCar.driver_id" id="driver_id" ng-init>
          <option value="" disabled selected hidden>-- Selecciona --</option>
          <option ng-repeat="mate in teammates" value="{{mate.id}}">{{mate.name+' '+mate.lastnames}}</option>
        </select>
      </label>

      <!-- brand -->
      <input type="text" style="display:none" ng-model="myCar.brand" ng-init="myCar.brand = theCar.brand">
      <!-- model -->
      <input type="text" style="display:none" ng-model="myCar.model" ng-init="myCar.model = theCar.model">
      <!-- description -->
      <input type="text" style="display:none" ng-model="myCar.description" ng-init="myCar.description = theCar.description">
      <!-- owner_id -->
      <input type="text" style="display:none" ng-model="myCar.owner_id" ng-init="myCar.owner_id = usrId">
      <!-- car id -->
      <input type="text" style="display:none" ng-model="myCar.id" ng-init="myCar.id = theCar.id">
      <div class="padding">
        <button type="button" class="button button-block button-positive"
          ng-click="updateCar()">Aceptar Cambios</button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
