<ion-view  hide-back-button="true" id="perfil" cache-view="false" class="perfil">
  <ion-nav-bar class="bar-clear">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <div id="profile-card"
      class="profile-card"
      style="background-image:url({{usuario.driver_of_vehicles[0].imageurl}})">

      <div ng-if="usuario.imageurl === undefined || usuario.imageurl == null"
        class="profile-element"
        ng-click="editUserModal()">
        <img id="profile-pic" ng-src="{{notImage}}"/>
      </div>

      <div ng-if="usuario.imageurl !== undefined && usuario.imageurl != null" class="profile-element">
        <img id="profile-pic" ng-src="{{usuario.imageurl}}">
      </div>
    </div>

    <!-- PERFIL -->
    <div id="perfil-cont">
      <div class="list card">
        <div class="item item-text-wrap">
          <h2><strong>Nombre:</strong> {{usuario.name}}</h2>
          <h2><strong>Apellidos:</strong> {{usuario.lastnames}}</h2>
          <h2><strong>Yego Team:</strong> {{usuario.family_name}}</h2>
          <h2><strong>Correo:</strong> {{usuario.email}}</h2>
          <h2><strong>Auto Principal:</strong> {{usuario.vehicle.brand+' '+usuario.vehicle.description+' '+usuario.vehicle.model}}</h2>
          <h2><strong>Ciudad:</strong> {{usuario.city.name}}</h2>
          <a class="card-right-icon ion-edit m-icon" ng-click="editUserModal()"></a>
        </div>
      </div>
      <button class="button button-clear button-positive icon icon-right ion-ios-close"
       ng-click="signOutClick()">
        Cerrar Sesión
      </button>
    </div>

    <!-- FAMILIA -->
    <div id="familia-cont" ng-show="familia_cont">
      <button ng-click="newFam()" class="button icon ion-ios-plus button-assertive"></button>
    </div>
  </ion-content>
</ion-view>
