<ion-view id="perfil" class="perfil">
  <ion-nav-bar class="bar-clear">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <div id="profile-card" class="profile-card" style="background-image:url({{profile.carpic}})">
      <img id="profile-pic" src="{{profile.pic}}" alt="" class="profile-element">
      <h1 class="profile-element">{{profile.name}}</h1>
      <h2 class="profile-element">Familia: {{profile.family}}</h2>
    </div>

    <!-- PERFIL -->
    <div id="perfil-cont">
      <div class="card">
        <div class="item item-text-wrap">
          <h2><strong>Nombre:</strong> {{profile.name}}</h2>
          <h3><strong>Familia:</strong> {{profile.family}}</h3>
          <h3><strong>Correo:</strong> {{profile.email}}</h3>
        </div>
      </div>
      <button class="button button-clear button-positive icon icon-right ion-ios-close"
       ng-click="signOutClick()">
        Cerrar Sesión
      </button>
    </div>

    <!-- FAMILIA -->
    <div id="familia-cont" ng-show="familia_cont">
      <button ng-click="newFam()" class="button icon ion-ios-plus button-assertive"></button>
    </div>
  </ion-content>
</ion-view>
