<ion-view id="seguros" class="seguros-compra" animation="ios" view-title="Asegurado: 1">
  <ion-nav-bar class="bar-dark">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <div id="seguros-tabs" class="tabs tabs-striped tabs-top tabs-dark">
    <a class="tab-item" ng-class="{'active':p_fisica}" ng-click="changeSegurosTab('fisica')">P. FÍSICA</a>
    <a class="tab-item" ng-class="{'active':p_moral}" ng-click="changeSegurosTab('moral')">P. MORAL</a>
  </div>
  <ion-content class="has-tabs-top">
    <!-- FISICA -->
    <form class="list" id="amplia-list" ng-if="p_fisica">

      <!-- Correo electronico -->
      <label class="item item-input" id="codigo-label">
       <span class="input-label">Correo Electrónico</span>
       <input type="email" ng-model="sendData.Email">
      </label>

      <!-- Nombre -->
      <label class="item item-input" id="codigo-label">
       <span class="input-label">Nombre</span>
       <input type="text" ng-model="sendData.Nombre">
      </label>

      <!-- Apellido Paterno -->
      <label class="item item-input" id="codigo-label">
       <span class="input-label">Apellido Paterno</span>
       <input type="text" ng-model="sendData.ApellidoP">
      </label>

      <!-- Apellido Materno -->
      <label class="item item-input" id="codigo-label">
       <span class="input-label">Apellido Materno</span>
       <input type="text" ng-model="sendData.ApellidoM">
      </label>

      <!-- Celular -->
      <label class="item item-input" id="codigo-label">
       <span class="input-label">Celular</span>
       <input type="tel" ng-model="sendData.Celular" maxlength="10">
      </label>

      <!-- Telefono -->
      <label class="item item-input" id="codigo-label">
       <span class="input-label">Teléfono</span>
       <input type="tel" ng-model="sendData.Telefono" maxlength="10">
      </label>

      <!-- Fecha -->
      <label class="item item-input" id="codigo-label">
       <span class="input-label">Fecha nacimiento</span>
       <input type="date" ng-model="sendData.FechaNac" maxlength="10">
      </label>

      <!-- Nacionalidad -->
      <label class="item item-input" id="codigo-label">
       <span class="input-label">Nacionalidad</span>
       <input type="tel" ng-model="sendData.Nacionalidad" maxlength="10">
      </label>

      <!-- Lugar de nac. -->
      <label class="item item-input" id="codigo-label">
       <span class="input-label">Lugar de nac.</span>
       <input type="tel" ng-model="sendData.LugarNac" maxlength="10">
      </label>
      <!-- Tipo de persona -->
      <input type="text" ng-model="sendData.TipoPersona" ng-init="sendData.TipoPersona = 'FISICA'" style="display:none">

      <div class="row">
        <div class="col">
        </div>
        <div class="col">
        </div>
        <div class="col">
          <a class="button button-block button-positive button-clear" href="#/app/seguros/compra/paso/2">
            CONTINUAR
          </a>
        </div>
      </div>
    </form>

    <!-- MORAL -->
    <form class="list" id="limitada-list" ng-if="p_moral">
      <!-- Correo electronico -->
      <label class="item item-input" id="codigo-label">
       <span class="input-label">Correo Electrónico</span>
       <input type="email" ng-model="sendData.Email">
      </label>

      <!-- Razón Social -->
      <label class="item item-input" id="codigo-label">
       <span class="input-label">Razón Social</span>
       <input type="email" ng-model="sendData.CPostal">
      </label>

      <!-- RFC Empresa -->
      <label class="item item-input" id="codigo-label">
       <span class="input-label">RFC Empresa</span>
       <input type="email" ng-model="sendData.CPostal" maxlength="13">
      </label>

      <!-- Correo electronico -->
      <label class="item item-input" id="codigo-label">
       <span class="input-label">Correo Electrónico</span>
       <input type="email" ng-model="sendData.CPostal">
      </label>

      <!-- Nombre -->
      <label class="item item-input" id="codigo-label">
       <span class="input-label">Nombre(s)</span>
       <input type="text" ng-model="sendData.CPostal">
      </label>

      <!-- Apellido Paterno -->
      <label class="item item-input" id="codigo-label">
       <span class="input-label">Apellido Paterno</span>
       <input type="text" ng-model="sendData.CPostal">
      </label>

      <!-- Apellido Materno -->
      <label class="item item-input" id="codigo-label">
       <span class="input-label">Apellido Materno</span>
       <input type="text" ng-model="sendData.CPostal">
      </label>

      <!-- Tipo de persona -->
      <input type="text" ng-model="sendData.TipoPersona" ng-init="sendData.TipoPersona = 'MORAL'" style="display:none">

      <div class="row">
        <div class="col">
        </div>
        <div class="col">
        </div>
        <div class="col">
          <a class="button button-block button-positive button-clear" href="#/app/seguros/compra/paso/2">
            CONTINUAR
          </a>
        </div>
      </div>

    </form>

  </ion-content>
</ion-view>
