<ion-view id="seguros" class="seguros-compra" animation="ios" view-title="Asegurado: 1">
  <ion-nav-bar class="bar-dark">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <div id="seguros-tabs" class="tabs tabs-striped tabs-top tabs-dark">
    <a class="tab-item" ng-class="{'active':p_fisica}" ng-click="changeSegurosTab('fisica')">P. FÍSICA</a>
    <a class="tab-item" ng-class="{'active':p_moral}" ng-click="changeSegurosTab('moral')">P. MORAL</a>
  </div>
  <ion-content class="has-tabs-top">
    <!-- FISICA -->
    <form class="list" id="amplia-list" ng-if="p_fisica">

      <!-- Correo electronico -->
      <label class="item item-input" id="codigo-label">
       <span class="input-label">Correo Electrónico</span>
       <input type="email" ng-model="pFisica.Email">
      </label>

      <!-- Nombre -->
      <label class="item item-input" id="codigo-label">
       <span class="input-label">Nombre(s)</span>
       <input type="text" ng-model="pFisica.Nombre">
      </label>

      <!-- Apellido Paterno -->
      <label class="item item-input" id="codigo-label">
       <span class="input-label">Apellido Paterno</span>
       <input type="text" ng-model="pFisica.ApellidoP">
      </label>

      <!-- Apellido Materno -->
      <label class="item item-input" id="codigo-label">
       <span class="input-label">Apellido Materno</span>
       <input type="text" ng-model="pFisica.ApellidoM">
      </label>

      <!-- RFC -->
      <label class="item item-input" id="codigo-label">
       <span class="input-label">RFC</span>
       <input type="text" ng-model="pFisica.RFC" maxlength="13">
      </label>

      <!-- Celular -->
      <label class="item item-input" id="codigo-label">
       <span class="input-label">Celular</span>
       <input type="tel" ng-model="pFisica.Celular" maxlength="10">
      </label>

      <!-- Telefono -->
      <label class="item item-input" id="codigo-label">
       <span class="input-label">Teléfono</span>
       <input type="tel" ng-model="pFisica.Telefono" maxlength="10">
      </label>

      <!-- Fecha -->
      <label class="item item-input" id="codigo-label">
       <span class="input-label">Fecha nacimiento</span>
       <input type="date" ng-model="pFisica.FechaNac">
      </label>

      <!-- Nacionalidad -->
      <label class="item item-input" id="codigo-label">
       <span class="input-label">Nacionalidad</span>
       <input type="text" ng-model="pFisica.Nacionalidad">
      </label>

      <!-- Lugar de nac. -->
      <label class="item item-input" id="codigo-label">
       <span class="input-label">Lugar de nac.</span>
       <input type="text" ng-model="pFisica.LugarNac">
      </label>

      <!-- Tipo de persona -->
      <input type="text" ng-model="pFisica.TipoPersona" ng-init="pFisica.TipoPersona = 'FISICA'" style="display:none">

      <div class="row">
        <div class="col">
        </div>
        <div class="col">
        </div>
        <div class="col">
          <button class="button button-block button-positive button-clear" ng-click="goPaso2('fisica')">
            CONTINUAR
          </button>
        </div>
      </div>
    </form>

    <!-- MORAL -->
    <form class="list" id="limitada-list" ng-if="p_moral">
      <!-- Correo electronico -->
      <label class="item item-input" id="codigo-label">
       <span class="input-label">Correo Electrónico</span>
       <input type="email" ng-model="pMoral.Email">
      </label>

      <!-- Nombre -->
      <label class="item item-input" id="codigo-label">
       <span class="input-label">Nombre(s)</span>
       <input type="text" ng-model="pMoral.Nombre">
      </label>

      <!-- Apellido Paterno -->
      <label class="item item-input" id="codigo-label">
       <span class="input-label">Apellido Paterno</span>
       <input type="text" ng-model="pMoral.ApellidoP">
      </label>

      <!-- Apellido Materno -->
      <label class="item item-input" id="codigo-label">
       <span class="input-label">Apellido Materno</span>
       <input type="text" ng-model="pMoral.ApellidoM">
      </label>

      <!-- RFC -->
      <label class="item item-input" id="codigo-label">
       <span class="input-label">RFC (Empresa)</span>
       <input type="text" ng-model="pMoral.RFC" maxlength="13">
      </label>

      <!-- Celular -->
      <label class="item item-input" id="codigo-label">
       <span class="input-label">Celular</span>
       <input type="tel" ng-model="pMoral.Celular" maxlength="10">
      </label>

      <!-- Telefono -->
      <label class="item item-input" id="codigo-label">
       <span class="input-label">Teléfono</span>
       <input type="tel" ng-model="pMoral.Telefono" maxlength="10">
      </label>

      <!-- Fecha -->
      <label class="item item-input" id="codigo-label">
       <span class="input-label">Fecha nacimiento</span>
       <input type="date" ng-model="pMoral.FechaNac">
      </label>

      <!-- Nacionalidad -->
      <label class="item item-input" id="codigo-label">
       <span class="input-label">Nacionalidad</span>
       <input type="text" ng-model="pMoral.Nacionalidad">
      </label>

      <!-- Lugar de nac. -->
      <label class="item item-input" id="codigo-label">
       <span class="input-label">Lugar de nac.</span>
       <input type="text" ng-model="pMoral.LugarNac">
      </label>

      <!-- Tipo de persona -->
      <input type="text" ng-model="pMoral.TipoPersona" ng-init="pMoral.TipoPersona = 'MORAL'" style="display:none">

      <div class="row">
        <div class="col">
        </div>
        <div class="col">
        </div>
        <div class="col">
          <button class="button button-block button-positive button-clear" ng-click="goPaso2('moral')">
            CONTINUAR
          </button>
        </div>
      </div>

    </form>

  </ion-content>
</ion-view>
