<ion-view id="seguros" class="seguros-compra" animation="ios" view-title="Éxito">
  <ion-nav-bar class="bar-dark">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="padding">
    <h1>Operación exitosa</h1>
    <h3>Importante:</h3>
    <p>Tu certificado de poliza ha sido enviado al correo electrónico que
      proporcionaste, es importante que lo mantengas en un lugar seguro mientras
      se tramita tu poliza oficial.</p>
    <p>El cobro de tu tarjeta aún no ha sido procesado, tu información está
      siendo revisada por el personal de Seguro Inteligente®, una vez validada
      <strong>(en un máximo de 72hrs)</strong> se llevará a cabo el cobro y se pondrán en
      contacto a tu correo electrónico para enviarte tu poliza de seguro con
      validez oficial.
      </p>
    <h4>Gracias por utilizar Seguro Inteligente® con Yego®</h4>
    <br>
    <button class="button button-full button-positive button-clear" ng-click="sendEmail()">Reenviar email</button>
    <button class="button button-full button-positive" ng-click="goToDirectory()">Volver al Directorio</button>
  </ion-content>
</ion-view>
