<ion-view id="mis-seguros" cache-view="false" class="mis-seguros" view-title="Mis Seguros">
  <ion-nav-bar class="bar-dark">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="has-header">
    <div class="info-block padding" ng-repeat="miauto in misAutos" ng-click="goSigle(miauto)">
      <img class="info-block-item" src="{{miauto.imageurl}}" alt="" />
      <div class="info-block-item info-block-data">
        <h2>{{miauto.brand+' '+miauto.description+' '+miauto.model; }}</h2>
        <p ng-if="miauto.insurances.length == 0">No tiene seguro <br>
          <span class="blue-span" ng-click="openModal(miauto)">Añadir seguro</span>
        </p>
        <p ng-if="miauto.insurances.length > 0">
          Compañía: <span class="blue-span">{{miauto.insurances[0].company}}</span><br>
          Vence el: <span class="blue-span">{{miauto.insurances[0].renewal | date: 'd MMM, y'}}</span><br>
        </p>
      </div>
    </div>
    <div ng-if="misAutos.length == 0" class="padding">
      <h4>Aun no tienes autos registrados</h4>
    </div>
  </ion-content>
</ion-view>
