<ion-view id="cuponera" hide-back-button="true" animation="ios" view-title="Cuponera">
  <ion-nav-bar class="bar-dark">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <div class="list">
      <a class="item item-thumbnail-left" ng-repeat="cupon in cupones" ng-click="goCupon(cupon)">
        <img src="img/logo-yego.png">
        <h2>{{cupon.title}}</h2>
        <p>Código: <strong>{{cupon.code}}</strong> </p>
      </a>
    </div>
  </ion-content>
  <div class="tabs tabs-background-positive tabs-color-light tabs-icon-top home-tabs">
    <a nav-clear nav-transition="none" class="tab-item disable-user-behavior" title="Directorio" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline" ng-click="changeTab('app.directorio')">
      <div class="my-icon dir-icon"></div>Directorio<span class="tab-title ng-binding" ng-bind-html="title"></span>
    </a>
    <a nav-clear nav-transition="none" class="tab-item disable-user-behavior" title="Seguros" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline" ng-click="changeTab('app.seguros')">
      <div class="my-icon seg-icon"></div>Seguros<span class="tab-title ng-binding" ng-bind-html="title"></span>
    </a>
    <a nav-clear nav-transition="none" class="tab-item disable-user-behavior active" title="Cuponera" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline" ng-click="">
      <div class="my-icon cup-icon"></div>Cuponera<span class="tab-title ng-binding" ng-bind-html="title"></span>
    </a>
    <a nav-clear nav-transition="none" class="tab-item disable-user-behavior" title="Libro" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline" ng-click="changeTab('app.guia')">
      <div class="my-icon lib-icon"></div>Libro<span class="tab-title ng-binding" ng-bind-html="title"></span>
    </a>
  </div>
</ion-view>
