/* Empty. Add your own CSS if you like */
@import 'fonts.css';
/* GENERAL
–––––––––––––––––––––––––––––
–––––––––––––––––––––––––––––*/
body *{
  font-family: 'Roboto';
  color: white;
}
body, ion-nav-view, ion-side-menus, ion-side-menu-content, ion-nav-view, ion-view, ion-side-menu {
  background: #0d1927;
}
.view-container {
  /*margin-top: -10px;*/
}
ion-view.pane:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 44px;
  background-color: #0d1927;
}
ion-view.highway.pane:before {
  background-color: transparent;
}

.scroll{
  background: #142840;
  display: flex;
  flex-direction: column;
}
.bar-dark .button.button-clear *{
  color: #92baf5;
}
button.button.button-icon.icon.s-icon {
  min-height: auto;
  height: 16px;
}
button.button.button-icon.icon.s-icon:before {
  font-size: 15px;
  line-height: 15px;
}
.m-icon:before{
  font-size: 24px;
  line-height: 32px;
}

.item p{
  color: white;
}
.popup * {
  color: black;
}
.list .item{
  background: #142840;
  border: none;
  border-bottom: 1px solid #3d4753;
  margin: 0em;
}
.list.card {
  border-radius: 0;
  background: #92baf5;
}
ion-content.scroll-content.ionic-scroll {
  background: #142840;
}
ion-content.scroll-content.ionic-scroll.has-tabs-top {
  top: 93px;
}
.row.row-low {
  margin-top: 3em;
}

p.info-label span.gray-info{
  font-size: 11px;
  color:#ccc;
}
p.info-label.bigger{
  font-size: 14px;
}
p.info-label.npb{
  padding-bottom: 0em;
  margin-bottom: 0;
}
p.info-label.bigger span.gray-info{
  font-size: 12px;
}
.button{
  border-radius: 0;
}
.button.button-positive {
  color: #0d1927;
  box-shadow: 1px 2px 2px #000;
  background: #92baf5;
  text-transform: uppercase;
  height: 40px;
  line-height: 35px;
  min-height: 40px;
  padding: 0 0.5em;
}
.button.button-positive.button-clear {
  color:#92baf5 !important;
  font-weight: bold;
  line-height: 20px;
  padding: .7em;
}
.button.button-positive.button-clear.icon-right:before {
    font-size: 20px;
    line-height: 20px;
}
.nmb{
   margin-bottom: 0;
 }
/* HEADER
–––––––––––––––––––––––––––––*/
.bar-dark.bar.bar-header{
  background: #0d1927;
  border-color: transparent;
  background-image: none;
  border-bottom-width: 0px;
  color: #92baf5;
}
.bar.bar-dark .title, .bar.bar-dark .ion-navicon:before{
  color: #92baf5;
}
#header-btn:before{
  font-size: 24px;
  color: #92baf5;
}
/* TABS
–––––––––––––––––––––––––––––*/

.home-tabs {
  background: #142840;
  padding-top: 5px;
}

.my-icon {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  height: 60%;
  width: 100%;
}
.dir-icon{background-image: url('../img/icons/dir-i.png');}
.active .dir-icon{background-image: url('../img/icons/dir-a.png');}
.seg-icon{background-image: url('../img/icons/seg-i.png');}
.active .seg-icon{background-image: url('../img/icons/seg-a.png');}
.cup-icon{background-image: url('../img/icons/cup-i.png');}
.active .cup-icon{background-image: url('../img/icons/cup-a.png');}
.lib-icon{background-image: url('../img/icons/libro-i.png');}
.active .lib-icon{background-image: url('../img/icons/libro-a.png');}
/* MENU
–––––––––––––––––––––––––––––
–––––––––––––––––––––––––––––*/
.menu-left ion-content.scroll-content.ionic-scroll{
  top:0px;
  background:white;
}
#profile-card{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 1em;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}
#profile-card:before{
  content:'';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  background: rgba(0,0,0,.1); /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(circle, rgba(2, 87, 127, 0.2), rgba(2, 87, 127, .5)); /* Safari */
  background: radial-gradient(circle, rgba(2, 87, 127, 0.2), rgba(2, 87, 127, .5)); /* Standard syntax */
  z-index:1;
}
#profile-card *{
  color:white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
#profile-card ion-item.only-link {
  background-color: transparent !important;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  display: inherit;
}
#profile-card ion-item.only-link a {
  padding: 0;
  margin:0;
  background-color: transparent;
}
#profile-card ion-item.only-link a >img {
  position: relative !important;
  top:0 !important;
  left:0 !important;
  width:100% !important;
  max-width: 50px !important;
}
#profile-card img#profile-pic{
  border-radius: 50%;
  width: 50px;
  border: 1px solid white;
  box-shadow: 1px 1px 5px #142840;
}
.profile-element{
  z-index: 10;
}
#profile-card h1{
  font-size: 24px;
  margin: 0px;
}
#profile-card h2{
  font-size: 16px;
  margin: 0px;
}
#the-side-menu .item *{
  color:#1b3858;
}
#the-side-menu ion-item.item.item-complex {
  border: none;
}
#the-side-menu a.item-content, #the-side-menu ion-item.deactivated-item {
  padding-left: 4em;
}
#the-side-menu .list {
  padding: 1em 0;
  background: white;
}
#the-side-menu ion-item.deactivated-item{
  background: white;
  position: relative;
  border: none;
  color: #808080;
}
#the-side-menu ion-item.deactivated-item img{
  position: absolute;
  top: 12px;
  left: 24px;
  width: 100%;
  max-width: 25px;
}
#the-side-menu ion-list:nth-of-type(1) {
  border-bottom: solid 1px #afafaf;
}
#the-side-menu .item .item-content >img {
  position: absolute;
  top: 12px;
  left: 24px;
  width: 100%;
  max-width: 25px;
}
/* highway class
–––––––––––––––––––––––––––––
–––––––––––––––––––––––––––––*/
.highway .scroll{
  justify-content: center;
  align-content: center;
  align-items: center;
}
ion-view.highway{
  background: url('../img/login.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.highway ion-content.scroll-content.ionic-scroll, .highway .scroll-content .scroll{
  background:transparent;
}
.highway *{
  color:white;
}
.highway .item-select select {
  background: transparent;
}
.highway .item-select:after{
  color:white;
}
.highway img.logo {
  width: 100%;
  max-width: 150px;
  align-self: center;
  margin: 1em 0 .5em;
}
.highway form.list {
  width: 100%;
  max-width: 320px;
  align-self: center;
}
.highway form.list * {
  color: white;
}
.highway h2 {
  font-size: 18px;
  margin-bottom: 0;
}
.highway .list .item {
  background-color: transparent;
  padding-left: 3.5em;
  padding-right: 1em;
  border: none;
}
.highway .input-label{
  width: 100%;
  max-width: 100%;
  border-bottom: 1px solid white;
}
.highway .input-label input {
  font-size: 16px;
}
.highway .input-label input::-webkit-input-placeholder{
  color:white;
}
.highway button.button.button-positive {
  background: #90ccff;
  color: #152a3f;
  box-shadow: 1px 1px 50px #152a3f;
}
.highway .enter-register .col {
  display: flex;
  justify-content: center;
  align-items: center;
}
.highway button.the-close {
  position: absolute;
  top: 0;
  right: 10px;
}
.highway button.the-close:before{
  font-size:14px;
}
.highway  a.invitado-link {
    margin: 1em 0;
}
.highway .recup-pass{
  margin-top: .5em;
}
.highway .item-select{
  position:relative;
}
.highway .item-select i.icon {
  left: 34px;
  position: absolute;
}

/* LOGIN
–––––––––––––––––––––––––––––
–––––––––––––––––––––––––––––*/

/* WELCOME
–––––––––––––––––––––––––––––
–––––––––––––––––––––––––––––*/
.welcome .scroll {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.welcome *{
  text-align: center;
}

/* HOME
–––––––––––––––––––––––––––––
–––––––––––––––––––––––––––––*/
#home ion-content {
  overflow: visible;
}
#home ion-content .scroll{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#home .logo{
  display: block;
  width:100%;
  max-width: 85px;
  margin: 1.5em auto 1em;
}
#home .bar.bar-subheader {
  top: 0;
  background: #142840;
  border-bottom-color: transparent;
  background-image: none;
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  width: 100%;
  max-width: 300px;

}
#home button.button.button-clear.closeBtn {
  position: absolute;
  right: 15px;
  top: 15px;
}
#home label.search-bar.item-input-wrapper {
  border-radius: 0;
  padding: 1em;
  display: flex;
  background: white;
  width: 100%;
  align-self: center;
}
#home .after-search .col{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon-cont {
  border-radius: 50%;
  background: #0d1927;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
img.menu-icon {
  width: 100%;
  max-width: 32px;
  position: relative;
}
#home .after-search ion-list {
  position: absolute;
  top: 0;
  left: 0;
}
#home .after-search {
  width: 100%;
  max-width: 320px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
#home .after-search ion-list#home-search {
  position: absolute;
  top: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  overflow: scroll;
}
#home #home-search .list {
  width: 100%;
  max-width: 320px;
}
#home #home-search ion-item.item.ng-binding {
  background: rgba(0,89,136,0.98);
  color: white;
  font-size: 15px;
}
#home .categories {
  margin-top: 5%;
  width: 100%;
  max-width: 320px;
}
#home a.button {
  width: 100%;
  max-width: 150px;
}
/* Categorias Directorio
–––––––––––––––––––––––––––––*/
#categories a.item {
  background: #142840;
  border: none;
  border-bottom: 1px solid #3d4753;
  margin: 0;
}
.subcat-img{
  width:100%;
  max-width:30px;
  max-height: 30px;
  margin-top: 10px;
}
/* Lista de Negocios por subcategoría Directorio
–––––––––––––––––––––––––––––*/
#dirList .item h2 {
  text-overflow: clip;
  overflow: visible;
  white-space: initial;
}
.rate-bar {
  display: flex;
  flex-direction: row;
}
.rate-bar p,.rate-bar i{
  color:#92baf5;
}
.rate-bar p {
  margin-left: .5em;
}
/* Single Directorio
–––––––––––––––––––––––––––––*/
#dirSingle .main-img{width:100%}
#dirSingle .row{border-top:1px solid #3d4753}
#dirSingle h1 {color: #92baf5;font-size: 20px; margin-bottom: 0}
#dirSingle h3 {font-size: 18px;}
#dirSingle .inner-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
#dirSingle .single-data p {
  padding-left: 2.5em;
  position: relative;
}
#dirSingle .single-data p i {
  position: absolute;
  top: 0;
  left: 10px;
}
#dirSingle .single-data p i:before {
  font-size: 20px;
}

#dirSingle .stars-rating-cont{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 33%;
  width: 100%;
  opacity:1;
  transition:.5s;
}
#dirSingle div.stars-rating-cont.ng-hide{
  opacity: 0;
}
#dirSingle .stars-rating{
  z-index:902;
  display: flex;
  position:   relative;;
  flex-direction: column;
  width: 100%;
  max-width: 320px;
  background:#0d1927;
  border:0;
}
#dirSingle .stars-rating ul{
  color:#FF9900;
  margin: 1em 0 .5em;
  padding: 0;
}
#dirSingle .stars-rating li{
  color:#FF9900;
  display: inline;
  font-size:53px;
}
#dirSingle .stars-rating .range{
  opacity:0;
  position: absolute;
  width: 100%;
  height: 35%;
  left: 0;
  top:35px;
}
#dirSingle .stars-rating i.icon.ion-ios-star:before,
#dirSingle .stars-rating i.icon.ion-ios-star-half:before,
#dirSingle .stars-rating i.icon.ion-ios-star-outline:before{
  color: #FF9900;
}
#dirSingle .stars-rating button.button.ion-close {
  position: absolute;
  padding: 0;
  top: 0;
  right: -6px;
}
#dirMapa .scroll-content .scroll{
  width:100%;
  height: 100%;
}
#dirMapa .rescate-map {
  width: 100%;
  height: 90%;
  position: relative;
}
#dirMapa .scroll *{
  color:#0d1927;
}
#dirMapa .item-divider{
  height: 10%;
}
#dirMapa .item-divider h1{
  font-size: 15px;
}
.single-services li{
  padding: .5em 3em;
  position: relative;
}
.single-services li > img{
  position:absolute;
  top: 5px;
  left: 10px;
  width: 100%;
  max-width: 22px;
}



/* CERCA DE MI
–––––––––––––––––––––––––––––
–––––––––––––––––––––––––––––*/
#cerca .bar-assertive, #cerca .button-assertive,
#cerca-modal .bar-assertive, #cerca-modal .button-assertive{
  border-color: #B90017;
  background-color: #B90017;
  background-image: linear-gradient(0deg, #B90017, #B90017 50%, transparent 50%);
}
#cerca .button-assertive, #cerca-modal .button-assertive{
  font-size: 28px;
  font-weight: 600;
  margin: 0;
  padding: .5em;
  height: 13%;
}
#cerca-modal .button-assertive{
  font-size: 20px;
}
#cerca .scroll, #cerca-modal .scroll{
  height:100%;
}
#cerca #datos {
  background: #FF6000;
  margin-bottom: 0px;
  padding: 1em 1em .3em;
  height: 40%;
  min-height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#cerca #datos .toggle input:checked + .track {
  border-color: #4cb8d9;
  background-color: #4cb8d9;
}
#cerca #datos .toggle input + .track {
  border-color: #4cd964;
  background-color: #4cd964;
}
#cerca #datos .input-label {
  color: white;
}
#cerca #datos .item {
  background: transparent;
  color: white;
  padding: 0;
  border: none;
  /*border-bottom: 1px solid #d04e00;*/
}
#cerca #datos .item:nth-last-child(1){
  border-bottom: none;
}
#cerca #datos .form-header{
  text-align: center;
  font-weight: 600;
  margin: auto;
  font-size: 18px;
  padding: 0;
}
#cerca .smaller-row {
  width: 100%;
  max-width: 250px;
  margin: auto;
  padding: 0;
}
#cerca #datos .col {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
#cerca #datos .smaller-row .col .input-label{
  font-size: 17px;
  padding: .3em 0;
  margin: 0;
}
#cerca #datos .select-container {
  background: white;
  width: 100%;
  overflow: hidden;
  padding: .5em 1em;
  position:   relative;
}
#cerca #datos .select-container, #cerca #datos textarea.com-input,
#cerca #datos input.ubi-input {
  margin: 3% 0;
}
#cerca #datos .select-container .input-label{
  width:25%;
}
#cerca #datos .select-container select {
  width: 75%;
  right: 30px;
}
#cerca #datos .select-container .input-label,
#cerca #datos .select-container select {
  padding: 0;
  margin: 0;
  color: #aaa;
}
#cerca #datos textarea.com-input {
  height: 50px;
}
#cerca #datos .select-container,#cerca #datos .com-input,#cerca #datos .ubi-input {
  background: white;
  padding: .5em 1em;
  border: 1px solid #B90017;
  box-shadow: 0px 3px 5px #b34300;
  font-size: 17px;
}
.not-rescate-map {
  padding: 1.5em 1em;
  height: 47%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  background-image: url(../img/map-bg.jpg);
  background-size: cover;
  background-origin: initial;
  background-position: center;
}
#cerca .not-rescate-map .button {
  width: 230px;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0px 2px 5px #777;
  padding: 2px 1em 1px;
}
#cerca .rescate-map {
  width: 100%;
  height: 100%;
  position: relative;
}
/* CUPONERA
–––––––––––––––––––––––––––––
–––––––––––––––––––––––––––––*/
#cuponera a.item {
  background: #142840;
  color: #92baf5;
  border: 1px solid #3d4753;
}
#cuponera .item * {
  color: #92baf5;
}
/* SEGUROS
–––––––––––––––––––––––––––––
–––––––––––––––––––––––––––––*/
#seguros form.list, #guia form.list{
  display:flex;
  flex-direction: column;
  align-items: flex-end;
}
#seguros .list .item ,#guia .list .item {
  width:83%;
  height: 50px;
  overflow: visible;
  padding-left: .5em;
}
#seguros .list .item *,#guia .list .item *, .perfil .list .item *{
  color: white;
}
#seguros .list .item select ,#guia .list .item select, .perfil .list .item select {
  background: #142840;
}
#seguros .item .img-left, #login .item .item-left{
  width:100%;
  max-width:30px;
  position: absolute;
  top: 10px;
  left: -45px;
}
#seguros .item.double-holder {
  padding: 0;
  display: flex;
  flex-direction: row;
}
#seguros .double-holder .item{width:50%;}
#seguros .double-holder .item select {
  width: 100%;
  max-width: 100%;
  text-align: left;
  font-size: 16px;
  right: auto;
  left: 0;
  direction: ltr;
  padding-left: .5em;
  padding-right: 1.5em;
}
#seguros form.list .double-holder #modelo-label,#seguros form.list .double-holder #edad-label{width:40%;}
#seguros form.list .double-holder #descripcion-label,#seguros form.list .double-holder #genero-label{width:60%;}
#seguros form.list #edad-label input,#seguros form.list #codigo-label input{
  background: #1a314e;padding-left: .8em;
}
#seguros img#seguro-inteligente{
  width:100%;
  max-width: 100px;
  margin:auto;
}
#seguros .button.button-positive.button-clear {
  margin:7px auto;
}
#seguros-tabs.tabs-dark{
  background: #193656;
  box-shadow: 0px 1px 5px #0d1927;
}
#seguros-tabs.tabs-dark a.tab-item.active {
  border-bottom: 1px solid #92baf5;
}

#seguros.seguros-compra .list .item, .perfil .list .item{
  width:100%;
  padding:0 1em;
}
#seguros p.info-label{
  padding: 1em;
  font-size: 12px;
  color:white;
  line-height: 15px;
  width:100%;
}

#seguros .item-radio .item-content {
  background: transparent;
}
#seguros.seguros-compra.paso-0 .item-radio.radio-custom .item-content{
  overflow: visible;
  text-overflow: initial;
  white-space: normal;
}
#seguros.seguros-compra.paso-0 .list .item.radio-custom{
  height:auto;
}
#seguros.seguros-compra.paso-0 .item.radio-custom:nth-last-child(1){
  display: none;
}

/* GUIA
–––––––––––––––––––––––––––––
–––––––––––––––––––––––––––––*/
#guia .list .item{
  width:100%;
}

/* PERFIL
–––––––––––––––––––––––––––––
–––––––––––––––––––––––––––––*/
#perfil.perfil ion-content.scroll-content.ionic-scroll.has-header {
  top: 0;
}
#perfil.perfil .header-item .left-buttons .ion-navicon {
  background: rgba(5, 89, 138, 0.49);
}
#perfil-tabs{
  position: relative;
  top:0;
}
.perfil #profile-card{
  align-items: center;
}
.perfil #profile-card img#profile-pic {
  width: 60px;
  border: 1px solid white;
  border-radius: 50%;
}
.perfil a.card-right-icon{
  position: absolute;
  top:-10px;
  right:10px;
}
.perfil #header-btn:before{
  font-size: 24px;
  color: #92baf5;
}
.perfil .list.card {
    padding: 1em 0em;
}
.perfil .list.card .item {
  background: #92baf5;
  border: none;
}
.perfil .list.card .item *{
  color: #0d1927;
}
.perfil .list.card .item img{
  width:100%;
}
#perfil #perfil-cont p > a{
  text-decoration: underline;
}
/* GARAGE
–––––––––––––––––––––––––––––*/
#garage-cont{
  width: 100%;
  max-width: 320px;
  margin:auto;
}
#garage-cont .car-item {
  position: relative;
}

#garage-cont i.card-right-icon{
  position: absolute;
  top: 7px;
  right: 7px;
}
#garage-cont i.card-right-icon:before {
  font-size: 25px;
}
.car-card-cont{
  display: inline-block;
  width:48%;
  margin-top: .5em;
  margin-right: 3.6%;
}
.car-card{
  background: #92baf5;
  display: flex;
  flex-direction: column;
  width:100%;
}
.car-card .car-item{
  width:100%;
}
.car-card .car-item.item-image{
  overflow:hidden;
  position: relative;
  min-height: 112px;
}
.car-item > img{
  width:150%;
  position: absolute;;
  top: -10%;
  left: -25%;
}
.car-card-cont:nth-of-type(odd){
  margin-right: 0;
}
.car-card-cont:nth-of-type(1){
  width: 100%;
  margin-right:0;
}
.car-card-cont:nth-of-type(1) .car-card{
  flex-direction: row;
}
.car-card *{
  color: #0d1927;
}
.car-card-cont:nth-of-type(1) .car-item{
  width:50%;
}

.auto-photo{
  width: 100%;
}
.edit-photo-holder{
  position: relative;
  width:100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.edit-photo-holder img{
  width:100%;
}
.edit-photo-holder .button-holder{
  position:absolute;
  top:.5em;
  left:.5em;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
}
.edit-photo-holder .button-holder button:nth-of-type(odd){
  margin-bottom:.5em;
}
#new-car-modal input{
  background: #1a314e;padding-left: .8em;
}
/* MODALS
–––––––––––––––––––––––––––––
–––––––––––––––––––––––––––––*/
ion-content.scroll-content.ionic-scroll {
  top: 44px;
}
.platform-ios.platform-cordova:not(.fullscreen) .has-header{
  top:64px;
}

/* TEAM
–––––––––––––––––––––––––––––
–––––––––––––––––––––––––––––*/
.invitations{
}
.invitations.list .item{
  padding: 1em;
}
.invitations.list .item-divider,#team-cont .list .item-divider,
.perfil.modal .item-divider,
.negocios .item-divider, #dirMapa .item-divider{
  background: #92baf5;
  color:#0d1927;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.invitations.list .item-divider,#team-cont .list .item-divider *, .perfil.modal .item-divider *{
  color:#0d1927 !important;
}
#team-cont .item-divider h1,.perfil.modal .item-divider h1{
  font-size: 24px;
}
.invitations span.inv-counter{
  color:#92baf5;
  background: #0d1927;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width:24px;
  height:24px;
  border-radius: 50%;
  margin-left: 1em;
}
.invitations.list .item.item-text-wrap{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.invitations.list .item.item-text-wrap .button{
  align-self: flex-end;
}
.new-team{
  padding: 1em;
}
.new-team h2{
  font-size: 24px;
}
.new-team h3{
  font-size: 20px;
}
#team.perfil.team input, #team-invitacion.perfil.team-invitacion input{
  background: #1a314e;padding-left: .8em;
}

#team-cont h2 {
  font-size: 20px;
}
#team-cont h2.divider{
  margin: 1em .5em 1em;
  padding-bottom: .3em;
  width: 100%;
  border-bottom: solid 2px white;
}

#team .car-card-cont{
  display: block;
  width:100%;
  max-width: 320px;
  margin:.5em auto 0 auto;
}
#team .car-card{
  background: #92baf5;
  display: flex;
  flex-direction: row;
  width:100%;
}
#team .car-card .car-item{
  width:50%;
}
#team .car-card .car-item.item-image{
  overflow:hidden;
  position: relative;
  min-height: 112px;
}
#team .car-item img.car-picture{
  width: 170%;
  position: absolute;
  top: 0;
  left: -35%;
  z-index: 10;
}
#team .car-item img.user-picture{
  width:100%;
  max-width:50px;
  border-radius: 50%;
  border: 2px solid white;
  position: absolute;
  top:auto;
  left:auto;
  bottom: 5px;
  right: 5px;
  z-index: 15;
}
#team .car-card *{
  color: #0d1927;
}
#team .car-card h4{
  margin-top: 0;
}
#team .auto-photo{
  width: 100%;
}
/* ABOUT
–––––––––––––––––––––––––––––
–––––––––––––––––––––––––––––*/

.about .padding {
  padding: 20px;
}
.about p{
  text-align: center;
}

/* CARGAS GASOLINA;
–––––––––––––––––––––––––––––
–––––––––––––––––––––––––––––*/
.cargas #header-btn:before{
  font-size: 24px;
  color: #92baf5;
}
.info-block {
  background: #1a3656;
  box-shadow: 0px 5px 5px #0a192b;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;;
  align-items: center;
}
img.info-block-item{
  margin:0 1em 0 .5em;
  width: 100%;
  max-width: 40px;
}
div.info-block-item.info-block-data h2{
  font-size: 16px;
  margin:0
}
div.info-block-item.info-block-data p{
  margin:0
}
.item.carga-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;;
  align-items: center;
}
.carga-img{
  margin-right: 1em;
  width: 100%;
  max-width: 60px;
}
.list .month-data h3{
  font-size: 16px;
  margin:0
}
span.blue-span, .cargas .item span.blue-span{
  color: #92baf5;
}
.cargas .item *{
  color: white;
}
.cargas .item-select select {
  background: transparent;
}
.cargas .item-select:after{
  color:white;
}
.cargas .item input{
  background: #1a314e;
  padding-left: .8em;
}
/* NEGOCIOS
–––––––––––––––––––––––––––––
–––––––––––––––––––––––––––––*/
.new-negocio{
  padding-top:2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.new-negocio h3:nth-child(1){
  margin-bottom: 1em;

}
.new-negocio h4{
  margin: 0;
  font-size: 20px;
}
button.border-bottom{
  border-bottom: 1px solid #92baf5 !important;
}
span.greyspan {
  color: #a0a0a0 !important;
}
label.status-label{
  position:absolute;
  top: 0;
  right: 0;
  background: #fff100;
  padding: .1em .5em;
}
.perfil.negocios .list.card{
  padding:0;
}
.perfil.negocios .list.card .item {
  padding: 1em;
}
.perfil.negocios .list.card .item h1{
  font-size: 20px;
}
.perfil.modal .list .item{
  padding:   .5em 1em;
}
.perfil.modal .list .item-content.disable-pointer-events {
  margin-left: 40px;
}
/* ANIMATIONS BEFORE
–––––––––––––––––––––––––––––
–––––––––––––––––––––––––––––*/
.highway form{
  opacity:1;
  transition: opacity .5s, display .5s;
  transition-delay: .5s
}
#login-logo.login-active{
  transition: max-width .3s,margin .3s;
}
/* ANIMATIONS AFTER
–––––––––––––––––––––––––––––
–––––––––––––––––––––––––––––*/
#login-logo.register-active{
  max-width: 90px;
  margin: .5em 0;
  transition: max-width .3s,margin .3s;
}
.highway form.ng-hide{
  opacity:0;
  transition: opacity .3s, display .3s;
}

/*.home-tabs{
  height:49px;
}
.home-tabs {
  transition: all ease 0.3s;
}
.home-tabs.ng-hide {
  height: 0px;
}*/
